.card-component {
    margin-bottom: 15px;
    width: 500px;
}
.card-component h2 {
    margin: 0 0 10px 0;
}
.card-component.success {
    border: #6DA06F solid 1px;
}
.success h2 {
    color: #6DA06F;
}
.card-component.error {
    border: #F56260 solid 1px;
}
.error h2 {
    color: #F56260;
}