.card-component {
    margin-bottom: 15px;
    width: 400px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}
.card-component:hover {
    transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.card-component h2 {
    margin: 0.8rem 1rem;
}
.card-component h3 {
    margin: 0 1rem;
    margin-bottom: 0.8rem;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
}
.card-component.success {
    border: #6DA06F solid 1px;
}
.success h2 {
    color: #6DA06F;
}
.card-component.error {
    border: #F56260 solid 1px;
}
.error h2 {
    color: #F56260;
}