* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.App {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
}