* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.App {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  position: absolute;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
  background: #fff;
  -webkit-transition: .5s ease-in-out;
  opacity: 1;
}
.card-1 {
  z-index: 9999;
}
.card-1:hover {
  opacity: 0;
}
